*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main-photo-container {
  position: relative;
  width: 800px;
  aspect-ratio: 16 / 9;

  border-radius: 36px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.main-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0s;
  transition-delay: 0.3s;
  z-index: 1;
}
.main-photo.selected {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
  opacity: 1;
  z-index: 10;
}

.small-photo-container {
  display: flex;
  gap: 20px;
  justify-content: center;

  position: absolute;
  bottom: 20px;
  left: 50%;

  translate: -50% 0;
  z-index: 100;
}
.small-photo {
  width: 64px;
  aspect-ratio: 16 / 9;

  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  opacity: 0.8;
  transition: 0.3s;
}
.small-photo.selected {
  width: 100px;
  opacity: 1;

  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 4px;
  border: none;
}
.selected:hover {
  transition: 0.1s;
  outline-offset: 5px;
}
.small-photo:hover {
  cursor: pointer;
}
.small-photo:not(.selected):hover {
  scale: 1.1;
}
.small-photo:active {
  scale: 0.8;
}

.main-photo-container > button {
  position: absolute;
  top: 50%;
  translate: 0 -50%;

  outline-offset: 0;
  border: none;
  border-radius: 4px;
  padding: 20px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  z-index: 100;
}
.main-photo-container > button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}
.main-photo-container > button:hover,
.main-photo-container > button:focus {
  transition: 0.1s;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}
.main-photo-container > button:active {
  background-color: rgba(255, 255, 255, 1);
}

.main-photo-container > button.prev {
  left: 1rem;
}
.main-photo-container > button.next {
  right: 1rem;
}
